# This pacakge stuff
startup_error_message.txt


#OS-X crap
.DS_Store

# why this is still showing, I don't know.
.eggs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
maproom/library/*.c
maproom/renderer/*/*.c

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
dist-*/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Sphinx documentation
docs/_build/

# PyBuilder
target/
