python=3.10.*
appdirs
bson
configobj
cython=0.29.*
docutils
gdal
jsonpickle
lat_lon_parser
markdown
netcdf4
numpy
pillow
owslib
pyopengl
pyparsing
pyproj
python-dateutil
python-slugify
reportlab
scipy
shapely
text-unidecode
wxpython=4.*

