python=3.9.*
appdirs
bson
configobj
cython=0.29.*
docutils
gdal
jsonpickle
markdown
netcdf4
numpy
pillow
owslib
pyopengl
pyparsing
pyproj
python-dateutil
python-slugify
reportlab
shapely
text-unidecode
wxpython=4.*

