# these should all be on conda-forge
python=3.9.*
appdirs
bson
configobj
docutils
gdal
jsonpickle
lat_lon_parser
markdown
netcdf4
numpy
pillow
owslib
pyopengl
# no build for 3.9 yet
# pyopengl-accelerate
pyparsing
pyproj
python-dateutil
python-slugify
# Are we really using this -- it's in the pdf renderer, but is that functional?
reportlab
scipy
shapely
text-unidecode
wxpython=4.*

